body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 0;
}

.subheading {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 1px solid #000000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.action {
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Combined oval button class */
.oval-btn, .circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5fa957;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.oval-btn {
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

.circle-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
}

.circle-btn:hover, .oval-btn:hover {
    background-color: #4d8745; /* Slightly darker green */
}

.left-btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.img-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Define the shake animation */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
}

.shake {
    animation: shake 0.5s;
}

/* Health bar container with relative positioning */
.health-bar-container {
    position: relative;
    width: 300px; /* Max width of the health bar */
    height: 30px;
}

/* Empty background of the health bar */
.empty-rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5fa957; /* Green background */
    border: 2px solid #000;
}

/* Filled health bar */
.health-rectangle {
    position: absolute;
    width: 50px;  /* Initial width for health */
    height: 100%;
    background-color: #a95757; /* Red background */
    border: 2px solid #000;
}

.points-display {
    font-size: 20px;
    margin-top: 20px;
}
