<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoBuddy</title>
  <link rel="stylesheet" href="/static/css/daily_activities.css">
  <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
  <script src="./index.js" defer></script>
  <style>
    body {
      background-image: url('/static/images/green_leaf_background.jpg'); /* Replace with your actual image file */
      background-size: cover; /* Ensures the image covers the entire background */
      background-position: center; /* Centers the background image */
      background-repeat: no-repeat; /* Prevents the image from repeating */
      height: 100vh; /* Ensures the background covers the full viewport height */
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1><font color="white"> Daily Activities </font></h1>
    <div class="circle" id="circleID"></div>
    <div class="action">
      <button style="background-color: #6bb566; color: white;" onclick = "paint('#6bb566','Yummy!! One health point added. Total: ??')">Recycling</button> <!--Add fun fact for each one added-->
      <button style="background-color: #6bb566; color: white;" onclick = "paint('#3f853a','Yummy!! One health point added. Total: ??')">Energy Saving</button>
      <button style="background-color: #6bb566; color: white;" onclick = "paint('#21531e','Yummy!! One health point added. Total: ??')">Taking Care of Plants</button>
      <button style="background-color: #6bb566; color: white;" onclick = "paint('#295c25','Yummy!! One health point added. Total: ??')">Public Transportation/Walking</button>
    </div>
</div>
</body>
</html>
