<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EcoBuddy - Game Over</title>
    <!--need to change the link back to the Flask code probably-->
    <link rel="stylesheet" href="../static/css/death.css" />
  </head>
  <div class="page">
    <body>
      <div class="container">
        <h1><u>YOUR ECOBUDDY HAS DIED!!</u></h1>
        <!--Image should be able to replace above line-->
        <p>Unfortunately, your EcoBuddy's health has reached zero.</p>
        <p><a href="{{ url_for('login') }}">Start Over</a></p>
      </div>
    </body>
  </div>
</html>
