<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoBuddy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div class="container">
    <h1>EcoBuddy</h1>
    <p class="subheading">
      Make your buddy happy by entering your daily tasks
    </p>
    <br/>
    <br/>
    <br/>
    <p class="subheading">
        <b>BULBASAUR</b> 
    </p>
    <p class="subheading">
        Level: 100 
    </p>
    <img src="{{ url_for('static', filename='images/ecobuddy1.png') }}" alt="EcoBuddy Image" id="imageID">
    <div class="action">
      <button>Daily Activites</button>
      <button>Statistics</button>
      <button>Level</button>
    </div>
</div>
</body>
</html>