<!DOCTYPE html>
<body style="background-color:rgb(190, 226, 190);"></body>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoBuddy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div class="container">
    <h1>EcoBuddy</h1>
    <p class="subheading">
      Make your buddy happy by entering your daily tasks
    </p>
    <br/>
    <br/> <button class="oval-btn">Daily Activites</button>
    <br/>
    <p class="subheading">
        <b>{{ ecobuddy_name }}</b> 
    </p>
    <p class="subheading">
        Level: 100 
    </p>
    <!-- Health Bar -->
    <div class="rectangle"></div>
    </h1>
        <!-- Happiness Bar Container -->
        <div class="happiness-bar">
            <div id="progress"></div>
        </div>

        <div class="img-btn-container">
          <!-- Image -->
          <img src="{{ url_for('static', filename='images/ecobuddy1.png') }}" alt="EcoBuddy Image" id="imageID">
          
          <!-- Button Container -->
          <div class="button-container">
            <button class="circle-btn" onclick="shakeImage()">Feed</button>
            <button class="circle-btn">Level</button>
        
        
        <!-- Span with the same class as the button -->
       
      </div>
        <script>
            function shakeImage() {
                const image = document.getElementById('imageID');
                image.classList.add('shake');
                setTimeout(() => {
                    image.classList.remove('shake');
                }, 500);
            }
        </script>
        
      </div>

      
      <!-- Script file inclusion -->
      <script src="index.js"></script>
      </body>
      </html>
      