<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  </head>

  <body>
    <div class="page">
      <header class="header">E C O B U D D Y</header>
      <div class="background">
        <div class="content">
          <h1>Registration</h1>
          <hr />
          <form>
            <input type="text" name="fname" placeholder="First Name" required />
            <input type="text" name="lname" placeholder="Last Name" required />
            <input type="email" name="uemail" placeholder="Email" required />
            <p><sub>All fields must be filled out</sub></p>
          </form>
          <button><a href="{{('index')}}">Login</a></button>
        </div>
      </div>
    </div>
  </body>
</html>