<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  </head>

  <body>
    <div class="page">
      <header class="header">E C O B U D D Y</header>
      <div class="background">
        <div class="content">
          <h1>ECOBUDDY CREATOR</h1>
          <hr />
          <form method="post" action="{{ url_for('register') }}">
            <input type="text" name="ecobuddy_name" placeholder="ECOBUDDY NAME" required />
            <!-- Move the button inside the form and correct its structure -->
            <button type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>